* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100%;
}

a,
a:hover {
  text-decoration: none;
  color: darkslategrey;
}

.spinner-container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-btn {
  margin-right: 0.5rem;
}

.btn-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 6px 0;
  text-align: center;
  font-size: 10px;
  line-height: 1.42857;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
